#initially-showing {
  display: none;
}

#initially-showing1 {
  display: none;
}

#initially-showing2 {
  display: none;
}

#initially-showing3 {
  display: none;
}

#initially-showing4 {
  display: none;
}
